body{
    background-color: white;
}


.secondNavBar{
    overflow: hidden;
    background-color: white;
    border-radius:20px;
    box-shadow: 2px 2px 15px 1px grey;
    width:40vw;
    margin-left:auto;
    margin-right:auto;
    height:50px;
}

input{
    border-radius:20px;
    border:none;
    text-align: center;
    width:19%;
    padding:1px;
    margin-top:auto;
    margin-bottom:auto;
    height:47px;
}


.hero_background > img {
    position:relative;
    width: 100%;
}


.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}
.dropdown-content a:hover {
    background-color:rgb(140, 186, 201)
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(245, 245, 245);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(255, 254, 254);
    z-index: 1;
    color: black;
}

.drop:hover .dropdown-content{
    display: block;
}
.drop:hover .dropdown{
    background-color: rgb(221, 221, 221);
}

.drop{
    position: relative;
    display: inline-block;
    color: black;
    margin-left: 90%;
}
.dropdown{
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}


#top a{
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 16px;
    padding: 16px;
}
#top a:hover{
    background-color: rgb(223, 223, 223);
}
#top a img{
    height: 25px;
}

.hotelTiles {
    position:relative;
    background-color: white;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left:auto;
    margin-right:auto;
    width:75vw;

}

.hoteltilesgrid { 
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 10px;
    box-shadow: 2px 2px 15px 1px grey;
    margin:10px;

}

.hotelImage > img {
    grid-row:1;
    width: 100%;
    height: 250px;
    object-fit: fill;
    border-radius: 8px;
}

.price{
    height: 100px;
    width: 200px;
}

.price button{
    background-color: green;
    color: white;
    border: none;
    border-radius:5px;
    
}

.price button:hover{
    background-color: darkgreen;
}

footer {
    background-color: rgb(35, 35, 59);
    color: white;
}

a:link {
    color: white;
    font-weight: bold;
}

ul:hover {
    text-decoration: underline;
 }

.ul {
    list-style: none;
}

.li {
    list-style: none;
}

span {
    display:inline-block;
}

.moveThis {
    margin-left:80%;
}   

.details {
    text-align:center center;
    margin-left:10px;
}